<% layout('/layouts/boilerplate')  %> 

    <h1>All Profiles</h1>
    <div>
        <a href="/profile/new">Add Profile</a>
    </div>
    <ul>
        <% for (let profile of profiles){%>
        <li><a href="/profile/<%= profile._id %>"><%= profile.name %>:<%= profile.id %></a></li>
        <% }%>
    </ul>