<nav class="navbar navbar-expand-md navbar-dark bg-primary bg-gradient fixed-top">    <!-- sticky-top -->
    <div class="container-lg">
      <a class="navbar-brand fs-5 fw-bold" href="/">SeeKers</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/jobs">Explore Jobs</a>
          <% if(currentUser){ %> 
            <a class="nav-link" href="/dashboard">Dashboard</a>
          <% } %> 
        </div>
        <div class="navbar-nav ms-auto">
          <% if(!currentUser){ %> 
          <a class="btn btn-outline-light" href="/google">Google Login</a>
          <% }else{ %> 
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light " href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= currentUser.name %>
                <img src="<%= currentUser.photo %>" width="30" height="30" class="border border-2 border-light rounded-circle ms-2" alt="">
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <% if(currentUser.profile){ %>
                  <li><a class="dropdown-item" href="/profile/edit">Edit Profile</a></li>
                <%}%>
                <li><a class="dropdown-item text-danger" href="/logout">Log Out</a></li>
              </ul>
            </li>
          
          <% } %> 
        </div>
      </div>
    </div>
  </nav>