<% if(currentUser && currentUser.salt){ %> 
    <% layout('/layouts/recruiterBoilerplate')  %> 
<% }else{ %> 
        <% layout('/layouts/boilerplate')  %> 
<% } %> 


<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><b><%= err.statusCode %> </b><%= err.message %> </h4>
            <% if (process.env.NODE_ENV !== "production") { %>
                <p><%= err.stack %></p>
            <% } %>
            <hr>
            <p class="mb-0">Stay Clam. Everthing will work out.</p>
          </div>
    </div>
</div>