<% layout('/layouts/recruiterBoilerplate')  %> 


    <h1>Recuiter</h1>
    <p><%= user.username %></p>

    <% if(numberOfJobs){ %>
        <% for(let job of user.jobs){ %>
            <p><%= job %></p>
            <a href='/recruiter/job/<%= job._id %>'>View</a>
        <%}%>
    <% }else{ %>
        <p>No Jobs created</p>
    <% } %>
    <br>
    <a href="/recruiter/job/new">Add Job</a>

    