<% layout('/layouts/boilerplate')  %> 

    <% if(profile){ %>
        <p><%= profile %></p>
        <form action="/profile/edit" method="get">
            <button>Edit</button>
        </form>
        <form action="/analysis" method="get">
            <button>Recommend me Jobs</button>
        </form>
    <% }else{ %>
        <h1>Umm... Looks like you havn't created your profile yet!</h1>
        <h3>Let's quickly make one</h3>
    <form action="/profile/new" method="get">
        <button>Create Profile</button>
    </form>
    <% } %>
